<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hellomart.dao.QABoardDAO">


	<select id="listQABoard" parameterType="java.lang.Integer" resultType="QABoard">
	
		select * from qaboard order by reref desc, relev asc limit #{param1} offset #{param2};
			
	</select>
	  
	
	<insert id="insertQABoard">
		INSERT INTO
		
		QABoard (subject, content, id, reRef,
		reLev, reSeq, count)
		
		VALUES (#{subject}, #{content}, #{id}, 1,
		1, 1, #{count});
	</insert>
	
	<update id="viewCount">
		UPDATE QABoard SET count=count+1 WHERE idx=#{idx}
	</update>
	
	<select id="viewQABoard" resultType="QABoard">
		
		SELECT * FROM QABoard WHERE idx = #{idx}
		
	</select>
	
	<!-- 글 수정 쿼리 -->
	<update id="modify">
		
		UPDATE QABoard SET 
		subject=#{subject}, content=#{content}, modate=sysdate() 
		WHERE idx=#{idx}
		
	</update>
	
	<!-- 글 삭제 쿼리 -->
	<delete id="delete">
		DELETE FROM QABoard WHERE idx = #{idx}
	</delete>
	
	<select id="getCount" resultType="int">
		SELECT count(*) FROM QABoard
	</select>
	
	
	<!-- 답변글로 인하여 기존에 답변글들의 레벨을 1씩 증가하는 쿼리 -->
	<update id="reReLv">
			
		 UPDATE QABoard SET relev=relev+1 WHERE reref=#{reref} AND relev > #{relev}
		 
	</update>
	
	<!-- 답글 추가 -->
	<insert id="reWrite">
		INSERT INTO 
		
		QABoard (subject, content, id, reref,
		relev, reseq, count)
		
		VALUES (#{subject}, #{content}, #{id}, #{reref},
		#{relev}+1, #{reseq}+1, #{count});
	
	</insert>
	
</mapper>