<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hellomart.dao.ReViewDAO">

	<select id="listReView" resultType="ReView"> 
		select * from ReView where no= #{param1} order by 1 desc limit #{param2},#{param3}
	</select>

	<insert id="reWrite" parameterType="ReView"> 
		INSERT INTO	ReView(No,Id,Content,Star) VALUES (#{No},#{id}, #{content}, #{star})
	</insert>

	<select id="ReView" resultType="ReView"> 
		SELECT * FROM ReView WHERE	Idx =#{idx}
	</select>

	<!-- 글 수정 쿼리 -->

	<update id="remodify"> 
		UPDATE ReView SET Content=#{content} WHERE Idx=#{idx}
	</update>

	<!-- 글 삭제 쿼리 -->


	<delete id="redelete"> 
		DELETE FROM ReView WHERE Idx = #{idx} 
	</delete>

	<select id="getReCount" resultType="int"> 
		SELECT count(*) FROM ReView
	</select>
	
	<update id="updatereviewCount">
   		update productlist 
   		set reviewCount = reviewCount + 1
   		where no = #{param1}
	</update>
</mapper>