<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hellomart.dao.SellerDAO">

	<select id="getSellerProductList" resultType="ProductList" parameterType="HashMap">
		SELECT U.*
		FROM
		(
				SELECT t.*
				FROM
				(
					SELECT @rownum:=@rownum+1 as rownum, S.* 
					FROM 
		            (
							SELECT *    
							FROM ProductList 
							WHERE RegisterID = #{id}
					)S, (SELECT @rownum := 0) r
				)t
		        WHERE t.rownum BETWEEN #{startRow} AND #{endRow}
		)U
	</select>
	
	<select id="reviewCount" resultType="Integer" parameterType="Integer">
		SELECT COUNT(*) FROM Review WHERE No = #{no}
	</select>
	
	<select id="getSellerProductCount" resultType="Integer" parameterType="String">
		SELECT COUNT(*) FROM ProductList WHERE RegisterID = #{id}
	</select>
		
</mapper>