<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 		
 	<typeAliases>
		<typeAlias type="com.hellomart.dto.Account" alias="Account"/> 
		<typeAlias type="com.hellomart.dto.QABoard" alias="QABoard"/>
		<typeAlias type="com.hellomart.dto.CmtBoard" alias="CmtBoard"/>
		<typeAlias type="com.hellomart.dto.ProductList" alias="ProductList"/>
    </typeAliases>		
 
</configuration>
