@CHARSET "UTF-8";

@font-face{
	font-family:'Gothic';
} 


html, body {
	height: 100%
}
body, div, span, table, tr, td, ul, li
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-stretch: ultra-condensed;
	
}
body {
	overflow-y: scroll;
	font-size: 12px;
}
p, img{
	margin: 0px;
	padding: 0px;

}
div{
	position: relative;
}
a {
	text-decoration: none;
}
/*
ul, li {
	list-style: none;
}
*/
::selection {
	background: #e8e8e8;
	color: #705f8d;
}
input {
	padding: 0;margin: 0;
}

/* common */
.clear{clear: both;}
.F_left{float: left;}
.F_right{float: right;}
.relative{position: relative;}
.absolute{position: absolute;}
.D_table{display: table;}
.V_middle{vertical-align: middle;}
.VA_middle{display: table-cell; vertical-align: middle;}
.A_left{text-align: left;}
.A_center{text-align: center;}
.A_right{text-align: right;}
.pointer{cursor: pointer;}
.bold1{font-weight: bold;}
.bold2{font-weight: bolder;}
.ellip{white-space: nowrap;overflow-x: hidden;text-overflow:ellipsis;}

/* color */
.C_FFF{color: #FFF;}
.C_2B2B2B{color: #2B2B2B;}
.C_333333{color: #333333;}
.C_666666{color: #666666;}
.C_808080{color: #808080;}
.C_939393{color: #939393;}
.C_979797{color: #979797;}
.C_393939{color: #393939;}
.C_B90000{color: #B90000;}
.C_3A3A3A{color: #3A3A3A;}
.C_747474{color: #747474;}
.C_1A1A1A{color: #1A1A1A;}
.C_029DCF{color: #029DCF;}

.BG_D7D7D7{background-color: #D7D7D7;}
.BG_DCDDDD{background-color: #DCDDDD;}
.BG_DCDCDC{background-color: #DCDCDC;}
.BG_D9D9D9{background-color: #D9D9D9;}
.BG_F9F9F9{background-color: #F9F9F9;}
.BG_F5F5F5{background-color: #F5F5F5;}
.BG_EEEEEE{background-color: #EEEEEE;}
.BG_BABABA{background-color: #BABABA;}
.BG_808080{background-color: #808080;}
.BG_C5C5C5{background-color: #C5C5C5;}

/* font_size */
.F_10{font-size: 10px;}
.F_11{font-size: 11px;}
.F_12{font-size: 12px;}
.F_13{font-size: 13px;}
.F_14{font-size: 14px;}
.F_15{font-size: 15px;}
.F_16{font-size: 16px;}
.F_17{font-size: 17px;}
.F_18{font-size: 18px;}
.F_19{font-size: 19px;}
.F_20{font-size: 20px;}
.F_21{font-size: 21px;}
.F_22{font-size: 22px;}
.F_23{font-size: 23px;}
.F_24{font-size: 24px;}
.F_25{font-size: 25px;}
.F_26{font-size: 26px;}
.F_27{font-size: 27px;}
.F_28{font-size: 28px;}
.F_29{font-size: 29px;}
.F_30{font-size: 30px;}
.F_31{font-size: 31px;}
.F_32{font-size: 32px;}
.F_34{font-size: 34px;}
.F_54{font-size: 54px;}

.M_CENTER{margin: 0 auto;}

.M_LEFT4{margin-left: 4px;}
.M_LEFT9{margin-left: 9px;}
.M_LEFT10{margin-left: 10px;}
.M_LEFT12{margin-left: 12px;}
.M_LEFT13{margin-left: 13px;}
.M_LEFT14{margin-left: 14px;}
.M_LEFT15{margin-left: 15px;}
.M_LEFT16{margin-left: 16px;}
.M_LEFT18{margin-left: 18px;}
.M_LEFT20{margin-left: 20px;}
.M_LEFT21{margin-left: 21px;}
.M_LEFT22{margin-left: 22px;}
.M_LEFT23{margin-left: 23px;}
.M_LEFT24{margin-left: 24px;}
.M_LEFT25{margin-left: 25px;}
.M_LEFT26{margin-left: 26px;}
.M_LEFT27{margin-left: 27px;}
.M_LEFT28{margin-left: 28px;}
.M_LEFT29{margin-left: 29px;}
.M_LEFT30{margin-left: 30px;}
.M_LEFT32{margin-left: 32px;}
.M_LEFT33{margin-left: 33px;}
.M_LEFT35{margin-left: 35px;}
.M_LEFT37{margin-left: 37px;}
.M_LEFT40{margin-left: 40px;}
.M_LEFT46{margin-left: 46px;}

.M_RIGHT23{margin-right: 23px;}
.M_RIGHT35{margin-right: 35px;}

.M_TOP3{margin-top: 3px;}
.M_TOP4{margin-top: 4px;}
.M_TOP8{margin-top: 8px;}
.M_TOP9{margin-top: 9px;}
.M_TOP10{margin-top: 10px;}
.M_TOP11_5{margin-top: 11.5px;}
.M_TOP12{margin-top: 12px;}
.M_TOP13{margin-top: 13px;}
.M_TOP15{margin-top: 15px;}
.M_TOP17{margin-top: 17px;}
.M_TOP18{margin-top: 18px;}
.M_TOP20{margin-top: 20px;}
.M_TOP21{margin-top: 21px;}
.M_TOP22{margin-top: 22px;}
.M_TOP23{margin-top: 23px;}
.M_TOP24{margin-top: 24px;}
.M_TOP25{margin-top: 25px;}
.M_TOP26{margin-top: 26px;}
.M_TOP27{margin-top: 27px;}
.M_TOP28{margin-top: 28px;}
.M_TOP31{margin-top: 31px;}
.M_TOP35{margin-top: 35px;}
.M_TOP40{margin-top: 40px;}
.M_TOP42{margin-top: 42px;}
.M_TOP44{margin-top: 44px;}
.M_TOP48{margin-top: 48px;}
.M_TOP50{margin-top: 50px;}
.M_TOP54{margin-top: 54px;}
.M_TOP60{margin-top: 60px;}

.W8{width: 8px;}
.W33{width: 33px;}
.W171{width: 171px;}
.W172{width: 172px;}
.W276{width: 276px;}
.W290{width: 290px;}
.W318{width: 318px;}
.W634{width: 634px;}
.W647{width: 647px;}

.H42{height: 42px;}
.H53{height: 53px;}
.H74{height: 74px;}
.H93{height: 93px;}
.H167{height: 167px;}

.MH45{min-height: 45px;}

.HLH26{height: 26px; line-height: 26px;}
.HLH33{height: 33px; line-height: 33px;}
.HLH42{height: 42px; line-height: 42px;}
.HLH50{height: 50px; line-height: 50px;}
.HLH74{height: 74px; line-height: 74px;}
.HLH93{height: 93px; line-height: 93px;}
.HLH126{height: 126px; line-height: 126px;}

.BTN_STYLE5{
	width: 122px; height: 38px; background: url('../../fs/images/btn_detail_nor.png') no-repeat center center; cursor: pointer;
}
.BTN_STYLE5:HOVER{
	background: url('../../fs/images/btn_detail_over.png') no-repeat center center;
}
.BTN_STYLE5:ACTIVE{
	background: url('../../fs/images/btn_detail_sel.png') no-repeat center center;
}
.BTN_STYLE6{
	width: 70px; height: 36px; background: url('../../fs/images/btn_seach_nor.png') no-repeat center center; cursor: pointer;
}
.BTN_STYLE6:HOVER{
	background: url('../../fs/images/btn_seach_over.png') no-repeat center center; cursor: pointer;
}
.BTN_STYLE6:ACTIVE{
	background: url('../../fs/images/btn_seach_sel.png') no-repeat center center; cursor: pointer;
}
.BTN_STYLE10{
	width: 68px; height: 36px; background: url('../../fs/images/btn_list_nor.png') no-repeat center center; cursor: pointer;
}
.BTN_STYLE10:HOVER{
	background: url('../../fs/images/btn_list_over.png') no-repeat center center;
}
.BTN_STYLE10:ACTIVE{
	background: url('../../fs/images/btn_list_sel.png') no-repeat center center;
}	
	
.BTN_STYLE30{
	width: 202px; height: 48px; background: url('../../fs/images/btn_custom_nor.png') no-repeat center center; cursor: pointer;
}
.BTN_STYLE30:HOVER{
	background: url('../../fs/images/btn_custom_over.png') no-repeat center center; cursor: pointer;
}
.BTN_STYLE30:ACTIVE{
	background: url('../../fs/images/btn_custom_sel.png') no-repeat center center; cursor: pointer;
}

.BTN_LIST_ARROW1{
	width: 13px; height: 8px; 
	background: url('../../fs/images/notice_listup.png') no-repeat center center; cursor: pointer;
}
.BTN_LIST_ARROW2{
	width: 13px; height: 8px; 
	background: url('../../fs/images/notice_listdown.png') no-repeat center center; cursor: pointer;
}

.INPUT_STYLE1{
	width: 170px; height: 72px; border: 1px solid #989898; border-radius: 5px;
}
.INPUT_STYLE2{
	width: 150px; height: 72px; border: 1px solid #989898; border-radius: 5px;
}
.INPUT_STYLE3{
	width: 408px; height: 34px; border: 1px solid #bababa;
}

.SELECT_STYLE1{
	width: 318px; height: 74px; border: 1px solid #989898; border-radius: 5px;
	-webkit-appearance: none;
	background-image: url('../../fs/image/mobile/arrow_option.png');
	background-repeat: no-repeat;
	background-position: 275px 32px;
	font-size: 25px; text-indent: 25px; 
}
.SELECT_STYLE2{
	width: 276px; height: 74px; border: 1px solid #989898; border-radius: 5px;
	-webkit-appearance: none;
	background-image: url('../../fs/image/mobile/arrow_option.png');
	background-repeat: no-repeat;
	background-position: 233px 32px;
	font-size: 25px; text-indent: 25px;
}
.SELECT_STYLE3{
	width: 171px; height: 74px; border: 1px solid #989898; border-radius: 5px;
	-webkit-appearance: none;
	background-image: url('../../fs/image/mobile/arrow_option.png');
	background-repeat: no-repeat;
	background-position: 128px 32px;
	font-size: 25px; text-indent: 25px;
}
.SELECT_STYLE4{
	width: 684px; height: 75px; border: 2px solid c9c9c9; font-size: 28px; color: #333333;
	text-indent: 10px; 
	 -webkit-appearance: none;
	background: url('../../fs/images/m/icon_dropdown.png') no-repeat 640px center;
	background-color: #ffffff;
}
.SELECT_STYLE4:ACTIVE{
	border: 2px solid #9c9c9c;
}
.CALENDAR_STYLE1{
	width: 274px; height: 72px; border: 1px solid #989898; border-radius: 5px;
	font-size: 25px; text-indent: 25px;
}

.BLOCK1{width: 100%; height: 1px;}
.BLOCK2{width: 100%; height: 2px;}
.BLOCK3{width: 100%; height: 3px;}
.BLOCK10{width: 100%; height: 10px;}
.BLOCK12{width: 100%; height: 12px;}
.BLOCK20{width: 100%; height: 20px;}
.BLOCK21{width: 100%; height: 21px;}
.BLOCK22{width: 100%; height: 22px;}
.BLOCK26{width: 100%; height: 26px;}
.BLOCK28{width: 100%; height: 28px;}
.BLOCK30{width: 100%; height: 30px;}
.BLOCK32{width: 100%; height: 32px;}
.BLOCK34{width: 100%; height: 34px;}
.BLOCK35{width: 100%; height: 35px;}
.BLOCK36{width: 100%; height: 36px;}
.BLOCK38{width: 100%; height: 38px;}
.BLOCK40{width: 100%; height: 40px;}
.BLOCK42{width: 100%; height: 42px;}
.BLOCK44{width: 100%; height: 44px;}
.BLOCK47{width: 100%; height: 47px;}
.BLOCK48{width: 100%; height: 48px;}
.BLOCK50{width: 100%; height: 50px;}
.BLOCK53{width: 100%; height: 53px;}
.BLOCK54{width: 100%; height: 54px;}
.BLOCK55{width: 100%; height: 55px;}
.BLOCK60{width: 100%; height: 60px;}
.BLOCK63{width: 100%; height: 63px;}
.BLOCK70{width: 100%; height: 70px;}
.BLOCK80{width: 100%; height: 80px;}
.BLOCK95{width: 100%; height: 95px;}
.BLOCK112{width: 100%; height: 112px;}
.BLOCK124{width: 100%; height: 124px;}
.BLOCK160{width: 100%; height: 160px;}
.BLOCK250{width: 100%; height: 250px;}
.BLOCK370{width: 100%; height: 370px;}
.BLOCK600{width: 100%; height: 600px;}

/*paging*/

.pageLst{list-style: none;}
.pageLst>li{list-style: none;}
.paging_arrow1{
	width: 43px; height: 43px; cursor: pointer;
	background: url('../../fs/images/page_arrow_nor_l.png') no-repeat center center;
}
.paging_arrow1:HOVER{
	background-color: #f2f2f2;
}
.paging_arrow1:ACTIVE{
	background: url('../../fs/images/page_arrow_sel_l.png') no-repeat center center;
	background-color: #f2f2f2;
}

.paging_arrow2{
	width: 43px; height: 43px; cursor: pointer;
	background: url('../../fs/images/page_arrow_nor_r.png') no-repeat center center;
}
.paging_arrow2:HOVER{
	background-color: #f2f2f2;
}
.paging_arrow2:ACTIVE{
	background: url('../../fs/images/page_arrow_sel_r.png') no-repeat center center;
	background-color: #f2f2f2;
}
.paging_arrow3{
	width: 43px; height: 43px; cursor: pointer;
	background: url('../../fs/images/page_arrow02_nor_l.png') no-repeat center center;
}
.paging_arrow3:HOVER{
	background-color: #f2f2f2;
}
.paging_arrow3:ACTIVE{
	background: url('../../fs/images/page_arrow02_sel_l.png') no-repeat center center;
	background-color: #f2f2f2;
}

.paging_arrow4{
	width: 43px; height: 43px; cursor: pointer;
	background: url('../../fs/images/page_arrow02_nor_r.png') no-repeat center center;
}
.paging_arrow4:HOVER{
	background-color: #f2f2f2;
}
.paging_arrow4:ACTIVE{
	background: url('../../fs/images/page_arrow02_sel_r.png') no-repeat center center;
	background-color: #f2f2f2;
}

.paging_no{
	width: 43px; height: 43px; line-height: 43px; text-align: center; font-size: 16px; color: rgba(51,51,51,0.8);border-left: 1px solid #dcdcdc;
}
.paging_no.on{
	background-color: #0198f1; color: #ffffff; font-weight: bold;
}

.ellipsis{
	overflow: hidden;
	 text-overflow: ellipsis;
	 display: -webkit-box;
	 -webkit-line-clamp: 2; /* �쇱씤�� */
	 -webkit-box-orient: vertical;
	 word-wrap:break-word; 
}

/* header */
.header_bar_wrap{
	width: 100%; height: 39px; background-color: #f1f0f0;
}
.header_bar{
	margin: 0 auto; width: 1006px; height: 39px;
}
.haeder_bar_menu{
	height: 39px; line-height: 39px; margin-right: 24px; cursor: pointer; font-size: 13.5px; color: #333333;
}
.haeder_bar_menu_lankr{
	width: 34px; height: 23px; background: url('../../fs/images/btn_kor_nor.png') no-repeat center center; margin-left: 15px; margin-top: 8px;
	cursor: pointer;
}
.haeder_bar_menu_lankr:HOVER{
	background: url('../../fs/images/btn_kor_over.png') no-repeat center center;
}
.haeder_bar_menu_lankr:ACTIVE{
	background: url('../../fs/images/btn_kor_press.png') no-repeat center center;
}

.haeder_bar_menu_lanen{
	width: 34px; height: 23px; background: url('../../fs/images/btn_eng_nor.png') no-repeat center center; margin-left: 5px; margin-right: 20px; margin-top: 8px;
	cursor: pointer;
}
.haeder_bar_menu_lanen:HOVER{
	background: url('../../fs/images/btn_eng_over.png') no-repeat center center;
}
.haeder_bar_menu_lanen:ACTIVE{
	background: url('../../fs/images/btn_eng_press.png') no-repeat center center;
}
.haeder_bar_menu_line{
	width:1px; height: 39px; margin-right: 24px; background: url('../images/bar.PNG') no-repeat center center; z-index: 3;
}

.header_bg_wrap{
	width: 100%; height: 140px; background-color: #fff;
}
.header_bg{
	margin: 0 auto; width: 1006px; height: 160px; background: url('../../fs/images/main_logo.png') no-repeat center center;
}

.header_menu_wrap{
	width: 100%; height: 55px; background-color: #0198f1;
}
.header_menu{
	margin: 0 auto; width: 1006px; height: 55px;
}
.header_menu_item{
	width: 168px; height: 55px; text-align: center; line-height: 55px; font-size: 20px; color: #ffffff; cursor: pointer;
}
.header_menu_item:HOVER{
	background-color: #004b99;	
}
.header_menu_item.on{
	background-color: #004b99;	
}

.mega_menu_wrap{
	width: 100%; z-index: 1000;  background: #fff;
}
.mega_menu{
	width: 1006px; margin: 0 auto;
}
.mega_menu_contents{
	
}

.mega_menu_contents_part2{
	width: 271px;
}
.mega_menu_contents_part3{
	
}
.mega_menu_contents_part3_page_box{
	z-index: 100; top: 80px; left: 0px;
}
.mega_menu_pagenation{
	width: 28px; height: 4px; background: url('../../fs/images/mega_pagenation_off.png') no-repeat center center;
}
.mega_menu_pagenation.on{
	background: url('../../fs/images/mega_pagenation_on.png') no-repeat center center;
}


.megamenu_menu_title1{
	height: 21px;
}
.megamenu_menu_title2{
	height: 21px; line-height: 23px; font-size: 16px; color: #666666; margin-left: 5px; cursor: pointer;
}
.megamenu_menu_title2:HOVER{
	color: #333333;	
}
.megamenu_menu_title2:ACTIVE{
	color: #0198f1;	
}
.megamenu_menu_title2.on{
	color: #0198f1;	
}
.megamenu_menu_title2_1{
	font-size: 16px; color: #666666; height: 21px; line-height: 23px; margin-left: 20px; cursor: pointer;
}
.megamenu_menu_title2_1:HOVER{
	color: #333333;	
}
.megamenu_menu_title2_1:ACTIVE{
	color: #0198f1;	
}
.megamenu_menu_title2_1.on{
	color: #0198f1;	
}


.footer_wrap{
	width: 100%; height: 149px; border-top: 1px solid #d9d9d9;
}
.footer_wrap_bg{
	width: 1006px; height: 149px; margin: 0 auto;	
}
.footer_img{
	width: 1006px; height: 148px; background: url('../images/footer.PNG') no-repeat center center;
}
.footer_txt_box{
	width: 114px; height: 27px; cursor: pointer;
}


/* contents */
.contents_wrap{
	width: 1006px; margin: 0 auto;
}

/* sub_page */
.subpage_header{
	width: 100%; height: 155px;
	
}
.subpage_title{
	font-size: 34px; color: #0198f1; text-align: left; height: 93px; line-height: 93px;
	width: 1006px; margin: 0 auto;
}
.subpage_loc{
	height: 60px; width: 1006px; margin: 0 auto;
}
.icon_loc_home{
	width: 26px; height: 25px; margin-top: 17px;
	background: url('../../fs/images/icon_home.png') no-repeat center center;
}
.icon_loc_arrow{
	width: 8px; height: 15px; margin-top: 22px;
	background: url('../../fs/images/navi_arrow.png') no-repeat center center;
}
.loc_txt{
	font-size: 16px; color: #999999; text-align: center; line-height: 60px;
}
/* main */
.slide_btn1{
	left: 0px; top: 258.5px; background: url('../../fs/images/silde_left_nor.png') no-repeat center center; width: 54px; height: 54px; cursor: pointer;
}
.slide_btn1:HOVER{
	background: url('../../fs/images/silde_left_over.png') no-repeat center center;
}
.slide_btn1:ACTIVE{
	background: url('../../fs/images/silde_left_sel.png') no-repeat center center;
}
.slide_btn2{
	right: 0px; top: 258.5px; background: url('../../fs/images/silde_right_nor.png') no-repeat center center; width: 54px; height: 54px;  cursor: pointer;
}
.slide_btn2:HOVER{
	background: url('../../fs/images/silde_right_over.png') no-repeat center center;
}
.slide_btn2:ACTIVE{
	background: url('../../fs/images/silde_right_sel.png') no-repeat center center;
}
.slide_btn_detail{
	background: url('../../fs/images/btn_main_slide_nor.png') no-repeat center center; width: 172px; height: 48px; left: 401px; bottom: 166px; cursor: pointer;
	z-index: 100;
}
.slide_btn_detail:HOVER{
	background: url('../../fs/images/btn_main_slide_over.png') no-repeat center center;
}
.slide_btn_detail:ACTIVE{
	background: url('../../fs/images/btn_main_slide_sel.png') no-repeat center center;
}

.main_section.section1{
	width: 479px; height: 269px; cursor: pointer;
}
.main_section.section2{
	width: 479px; height: 269px; margin-left: 28px; cursor: pointer;
}
.main_section.section3{
	width: 479px; height: 179px;
}
.main_section.section4{
	width: 479px; height: 179px; margin-left: 28px; cursor: pointer;
}
.section_board_title{
	background: url('../../fs/images/notice_title.png') no-repeat center center; width: 109px; height: 27px;
}
.section_board_btn_more{
	background: url('../../fs/images/btn_more_nor.png') no-repeat center center; width: 64px; height: 24px; cursor: pointer;
}
.section_board_btn_more:HOVER{
	background: url('../../fs/images/btn_more_over.png') no-repeat center center;
}
.section_board_btn_more:ACTIVE{
	background: url('../../fs/images/btn_more_sel.png') no-repeat center center;
}

.section_board_row{
	height: 14px; margin-bottom: 10px; font-size: 13.5px; color: #333333;
}
.section_board_row_dot{
	background: url('../../fs/images/notice_bullet.png') no-repeat center center; width: 4px; height: 14px;
}

/* sub */
.sub_item{
	width: 1006px; height: 304px;
}
.sub_item_img{
	width: 420px; height: 303px; text-align: center;
}
.sub_item_title_txt1{
	height: 32px; line-height: 32px;font-size: 32px; color: #333333;
	
}
.sub_item_title_txt2{
	 line-height: 32px; height: 32px;	
}
.sub_item_title_txt3{
	height: 32px;line-height: 32px;font-size: 32px; color: #333333;
	 
}
.sub_item_title_txt4{
	width: 46px; height: 32px;
	background: url('../../fs/images/icon_hot.png') no-repeat center center; 
}

.sub_item_info{
	width: 556px; height: 303px; padding: 0 30px 0 0;
}

/* sub_detail */
.sub_detail_wrap{

}
.sub_detail_part1{
	width: 1004px; border: 1px solid #bababa;
}
.sub_detail_part1_1{
	width: 534px; min-height: 494px;
}
.sub_detail_part1_2{
	width: 433px;min-height: 494px;
}
.sub_detail_part1_2_title{
	height: 32px;
}
.sub_detail_part1_2_title_1{
	line-height: 32px; color: #333333; text-align: left; font-size: 32px;
}
.sub_detail_part1_2_title_icon{
	width: 46px; height: 32px;
}
.sub_detail_icon_hot{
	width: 46px; height: 32px; background: url('../../fs/images/icon_hot.png') no-repeat center center;
}
.sub_detail_icon_new{
	width: 46px; height: 32px; background: url('../../fs/images/icon_new.png') no-repeat center center;
}

.sub_detail_part1_2_sub_title{
	min-height: 55px; font-size: 22px; color: #333333; border-bottom: 1px solid #dcdcdc;
}
.sub_detail_part1_2_sub_contents{
	color: #666666; font-size: 15px; padding-left: 20px; line-height: 160%;
	min-height: 194px; border-bottom: 1px solid #dcdcdc; padding-top: 20px; padding-bottom: 20px;
	
}
.sub_detail_part1_2_sub_contents > ul { list-style: disc;}
.sub_detail_part1_2_sub_contents > ul >li { list-style: disc;}
.sub_detail_part1_2_sub_btn_shop_wrap{
	height: 67px; /* border-bottom: 1px solid #dcdcdc; */
}
.sub_detail_go_shop_text{
	width: 141px; line-height: 67px; font-size: 18px; color: #333333; text-align: left;
}
.sub_detail_go_gmarket{
	width: 104px; height: 67px; cursor: pointer;
	background: url('../../fs/images/icon_gmarket.png') no-repeat center center;
}
.sub_detail_go_11st{
	width: 87px; height: 67px; cursor: pointer;
	background: url('../../fs/images/icon_11st.png') no-repeat center center;
}
.sub_detail_go_auction{
	width: 89px; height: 67px; cursor: pointer;
	background: url('../../fs/images/icon_auction.png') no-repeat center center;
}

.sub_detail_part2{
	width: 1006px; border: 1px solid #bababa;
}
.attitute_tab_wrap{
	width: 1004px; height: 59px; 
}
.attitute_tab1{
 	cursor:pointer; width: 502px; background-color: #f2f2f2; color: rgba(51,51,51,0.8); text-align: center; line-height: 59px; font-size: 28px;
}
.attitute_tab1.on{
	background-color: #ffffff;color: #0198f1;
}
.attitute_tab2{
	cursor:pointer; width: 502px; background-color: #f2f2f2; color: rgba(51,51,51,0.8); text-align: center; line-height: 59px; font-size: 28px;
}
.attitute_tab3{
	cursor:pointer; width: 501px; border-left: 1px solid  #bababa; height: 58px; border-bottom: 1px solid #bababa; 
}
.attitute_tab2.on{
	background-color: #ffffff;color: #0198f1;
}

.attitute_wrap{
	width: 1006px; text-align: center;
}

.sub_detail_recommend_title{
	font-size: 24px; text-align: left; height: 50px; line-height: 50px; color: #333333;
}
.sub_detail_recommend_item{
	width: 250.25px; height: 314px;  
}
.sub_detail_recommend_item.not_first{
	border-left: 0px; 
}
.sub_detail_recommend_item1{
	width: 100%; height: 240px; 
}
.sub_detail_recommend_item1.not_first{
	
}
.sub_detail_recommend_item2{
	width: 100%; height: 60px; cursor: pointer; color: #333333; font-size: 18px;
	line-height: 60px; text-align: center;
	
}
.sub_detail_recommend_item2:HOVER{
	
}
.sub_detail_recommend_item2:ACTIVE{
	
}


/* notice */
.info_tab{
	height: 54px; line-height: 54px; width: 1004px; font-size: 24px;
	border-left: 1px solid #bababa; border-right: 1px solid #bababa; border-top: 1px solid #bababa;  
}
.info_tab_menu{
	width: 501.5px; background-color: #f2f2f2; color: rgba(51,51,51,0.8); border-bottom: 1px solid #babaab; cursor: pointer;
}
.info_tab_menu.on{
	background-color: #fff; color: #0198f1; border-bottom: 1px solid #fff;
}

.info_board{
	width: 1006px;
}
.info_board_title{
	width: 1006px; height: 56px; line-height: 56px; font-weight: bold; color: #333333; font-size: 16px; border-bottom: 1px solid #808080;
}
.info_board_title1{
	width: 98px; text-align: center; height: 56px; line-height: 56px;
}
.info_board_title2{
	width: 570px; text-align: center; height: 56px; line-height: 56px;
}
.info_board_title3{
	width: 132px; text-align: center; height: 56px; line-height: 56px;
}
.info_board_title4{
	width: 96px; text-align: center; height: 56px; line-height: 56px;
}
.info_board_title5{
	width: 110px; text-align: center; height: 56px; line-height: 56px;
}
.info_board_contents_row{
	width: 1006px; height: 50px; line-height: 50px; color: #333333; font-size: 16px; border-bottom: 1px solid #dcdcdc;
}
.info_board_contents_row1{
	width: 98px; text-align: center; height: 50px; line-height: 50px;
}
.info_board_contents_row2{
	width: 570px; text-align: left; height: 50px; line-height: 50px; cursor: pointer;
}
.info_board_contents_row3{
	width: 132px; text-align: center; height: 50px; line-height: 50px;
}
.info_board_contents_row4{
	width: 96px; text-align: center; height: 50px; line-height: 50px;
}
.info_board_contents_row5{
	width: 110px; text-align: center; height: 50px; line-height: 50px;
}
	
.info_search_wrap{
	width: 1006px; height: 78px; background-color: #f2f2f2;
}
.info_search_box{
	width: 552px; height:36px; margin: 0 auto;
}
.info_search{
	width: 62px; font-weight: bold; font-size: 16px; color: #333333;
	text-align: center;height: 36px; line-height: 36px;
}
.info_page_wrap{
	width: 1006px; height: 100px;
}


.notice_detail_title_wrap{
	border-bottom: 1px solid #dcdcdc; min-height: 76px;
}
.notice_detail_contents_wrap{
	padding: 44px 24px 44px 24px; border-bottom: 1px solid #dcdcdc;
}
.notice_detail_btn_wrap{
	height: 63px; border-bottom: 2px solid #808080; padding: 0 20px 0 20px;
}
.notice_detail_prev_wrap{
	height: 50px; line-height: 50px; border-bottom: 1px solid #dcdcdc; padding: 0 20px 0 20px;
}
.notice_detail_next_wrap{
	height: 50px; line-height: 50px; border-bottom: 2px solid #808080; padding: 0 20px 0 20px;
}
.detail_prev_title{
	font-size: 16px; cursor: pointer; height: 50px; line-height: 50px; color: #666666;
}
.detail_next_title{
	font-size: 16px; cursor: pointer; height: 50px; line-height: 50px; color: #666666;
}


.event_item_wrap{
	width: 491px; height: 275px; border: 1px solid #bababa;
}
.event_img_wrap{
	width: 491px; height: 180px; cursor: pointer;
}
.event_item_info{
	width: 491px; height: 93px;
}
.event_item_info_title{
	height: 37px;
}
.event_item_info_title_1{
	width: 66px; height: 37px; background: url('../../fs/images/event_ing.png') no-repeat center center;
}
.event_item_info_title_2{
	width: 66px; height: 37px; background: url('../../fs/images/event_finish.png') no-repeat center center;
}
.event_item_info_date{
	height: 34px; line-height: 34px; font-size: 18px; color: #666666;
}


/* softener_item_recommend_title */
.softener_item_recommend_title{
	font-size: 28px; color: #333333; height: 50px; line-height: 50px;
}



/* mobile */

#m_main_wrap{
	width: 720px; margin: 0 auto;
}
#m_pigeon_header{
	width: 720px; height: 112px; border-bottom: 4px solid #0198f1; 
}
.btn_m_menu{
	width: 72px; height: 72px;cursor: pointer;
	background: url('../../fs/images/m/icon_gmenu_nor.png') no-repeat center center;
}
.btn_m_menu:ACTIVE{
	background: url('../../fs/images/m/icon_gmenu_press.png') no-repeat center center;
}
.btn_m_menu.on{
	background: url('../../fs/images/m/icon_gmenu_close_nor.png') no-repeat center center;
}
.btn_m_menu.on:ACTIVE{
	background: url('../../fs/images/m/icon_gmenu_close_press.png') no-repeat center center;
}
.m_logo{
	background: url('../../fs/images/m/top_logo.png') no-repeat center center;
	width: 175px; height: 80px;
	top: 16px; left: 272px; cursor: pointer;
}
#menu_box{
	z-index: 50; left:0; top: 112px;
}
.menu_block{
	width: 580px;
}
.menu_dim{
	background-color: rgba(0,0,0,0.3); width: 720px;
}
.m_menu_level1{
	width: 580px; height: 85px; border-bottom: 1px solid #018ac7; text-indent: 45px;
	background-color: #009ce1; color: #fff; font-size: 32px; line-height: 85px; cursor: pointer;
}
.m_menu_level1:ACTIVE{
	background-color: #0296d7;	
}
.m_menu_level2{
	width: 580px; height: 85px; border-bottom: 1px solid #d1d1d1; text-indent: 70px;
	background-color: #ffffff; color: #333333; font-size: 28px; line-height: 85px; cursor: pointer;
}
.m_menu_level2:ACTIVE{
	background-color: #f4f4f4;
}
.m_contents_wrap{
	width: 720px;
}



#m_pigeon_footer{
	width: 720px; height: 163px;
	background: url('../../fs/images/m/footer.png') no-repeat center center;
	border-top: 1px solid #d9d9d9: 
}
.box_privacy1{
	position: absolute; left: 215px; top: 22px; width: 176px; height: 50px; line-height: 50px;
	text-align: center;
}
.box_privacy2{
	position: absolute; left: 416px; top: 22px; width: 194px; height: 50px; line-height: 50px;
	text-align: center;
}


/* main */
.m_contents_wrap{
	width: 720px;
}
.m_main_new{
	width: 684px; height: 408px;
	
}
.m_main_hot{
	width: 684px; height: 408px;
	
}

.m_main_notice{
	width: 334px; height: 328px;
	background: url('../../fs/images/m/main_news_nor.png') no-repeat center center;
}
.m_main_notice:ACTIVE{
	width: 334px; height: 328px;
	background: url('../../fs/images/m/main_news_press.png') no-repeat center center;
}
.m_main_event{
	width: 334px; height: 328px;
	background: url('../../fs/images/m/main_event_nor.png') no-repeat center center;
}
.m_main_event:ACTIVE{
	width: 334px; height: 328px;
	background: url('../../fs/images/m/main_event_press.png') no-repeat center center;
}


.m_sub_menu_wrap{
	width: 720px; height: 203px;
}
.m_sub_menu{
	height: 101px; text-align: center; line-height: 101px; color: #333333; font-size: 28px; width: 239px; cursor: pointer;
}
.m_sub_menu.m_sub_menu_center{
	width: 238px;
}
.m_sub_menu.m_sub_menu_left_border{
	border-left: 2px solid #dfdfdf;
}
.m_sub_menu.on{
	background-color: #009ce1; color: #ffffff;
}
.m_sub_menu_top{
	border-bottom: 2px solid #dfdfdf;
}

.m_sub_wrap{
	width: 720px; background-color: #ededed;
}
.m_sub_item{
	width: 684px; height: 408px; background-color: #ffffff; cursor: pointer;
}
.m_sub_item_1{
	width: 320px; height: 408px;
}
.m_sub_item_1_1{
	width: 320px; height: 320px;
}
.m_sub_item_2{
	width: 334px; height: 408px; padding: 0 30px 0 0;
}

.m_sub_item_2_1{
	height: 33px; width: 100%;
}
.m_sub_item_2_1_hot{
	width: 62px; height: 33px; margin-right:12px; background: url('../../fs/images/m/icon_hot.png') no-repeat center center;
}
.m_sub_item_2_1_new{
	width: 62px; height: 33px; margin-right:12px; background: url('../../fs/images/m/icon_new.png') no-repeat center center;
}
.m_sub_item_2_2{
	height: 79px; line-height: 79px; font-size: 35px; color: #333333;
}
.m_sub_item_2_3{
	font-size: 24px; color: #666666; line-height: 130%;
}

.m_icon_hot{
	width: 62px; height: 33px; margin-right:12px; background: url('../../fs/images/m/icon_hot.png') no-repeat center center;
}
.m_icon_new{
	width: 62px; height: 33px; margin-right:12px; background: url('../../fs/images/m/icon_new.png') no-repeat center center;
}
.m_sub_detail_info{
	padding: 40px;
}
.m_sub_detail_1{
	width: 100%; text-align: center;
}
.m_sub_detail_2{
	width: 100%; height: 102px;  font-size: 42px; color: #333333; line-height: 102px; text-align: center;
}
.m_sub_detail_3{
	font-size: 28px; color: #666666; text-align: left; width: 100%; padding-left: 25px;
}
.m_sub_detail_shop_wrap{
	width: 100%; height: 101px;
}
.m_icon_shop{
	width: 189px; height: 97px; line-height: 97px; font-size: 26px; color: #333333; text-align: left;
}
.m_icon_gmarket{
	width: 186px; height: 97px; background: url('../../fs/images/m/icon_gmarket.png') no-repeat center center; cursor: pointer;
}
.m_icon_11st{
	width: 111px; height: 97px; background: url('../../fs/images/m/icon_11st.png') no-repeat center center; cursor: pointer;
}
.m_icon_auction{
	width: 154px; height: 97px; background: url('../../fs/images/m/icon_auction.png') no-repeat center center; cursor: pointer;
}

.m_sub_detail_tab{
	width: 640px; height: 83px; cursor: pointer;
	background: url('../../fs/images/m/inpage_tab_01.png') no-repeat center center;
}
.btn_m_sub_detail_list{
	width: 640px; height: 83px;
	background: url('../../fs/images/m/btn_plist_nor.png') no-repeat center center;
}
.btn_m_sub_detail_list:ACTIVE{
	background: url('../../fs/images/m/btn_plist_press.png') no-repeat center center;
}
.m_sub_detail_recommend_title{
	width: 720px; height: 81px; line-height: 81px; border-top: 1px solid #c5c5c5; 
	border-bottom: 1px solid #c5c5c5; font-size: 28px; color: #333333; text-indent: 36px;
}
.m_sub_detail_recommend_item_wrap{
	width: 333px; height: 457px; background-color: #ffffff;
}
.m_sub_detail_recommend_item_img{
	width: 333px; height: 372px; /*background: url('../../fs/images/m/sub_product_01.png') no-repeat center center;*/
	border-bottom: 1px solid #ededed;
}
.m_sub_detail_recommend_item_title{
	font-size: 28px; color: #333333; text-align: center; height: 84px; width: 333px; line-height: 84px;
}


.m_board_tab_wrap{
	width: 720px; height: 80px; line-height: 80px;
}
.m_board_tab{
	width: 360px; height: 80px; line-height: 80px; font-size: 32px; color: #666666; text-align: center;
	background-color: #f0f0f0; cursor: pointer;
}
.m_board_tab.on{
	font-weight: bold; background-color: #ffffff; color: #009ce1;
}

.m_event_item_list{
	width: 680px; height: 379px;
	background: url('../../fs/images/m/event_bg_nor.png') no-repeat center center;
}
.m_event_item_list:ACTIVE{
	background: url('../../fs/images/m/event_bg_press.png') no-repeat center center;
}
.m_event_item_wrap{
	padding: 1px;
}
.m_event_item_img_wrap{
	width: 678px; height: 248px;
}
.m_event_item_info_wrap{
	padding: 0 30px;
}
.m_event_item_info_title_wrap{
	height: 80px;
}
.m_event_item_info_title{
	line-height: 80px; color: #333333; font-size: 28px;
}
.m_event_item_info_title_icon1{
	width: 91px; height: 36px;
	background: url('../../fs/images/m/event_ing.png') no-repeat center center;
}
.m_event_item_info_title_icon2{
	width: 91px; height: 36px;
	background: url('../../fs/images/m/event_finish.png') no-repeat center center;
}
.m_event_item_info_date_wrap{
	height: 24px; line-height: 24px; font-size: 24px; color: #666666;
}
.m_event_detail_wrap1{
	padding: 20px 40px 22px 40px;
}
.m_event_detail_title_wrap{
	word-break: break-word;
}
.m_event_detail_title_icon1{
	width: 91px;
	background: url('../../fs/images/m/event_ing.png') no-repeat center center;
}
.m_event_detail_title_icon2{
	width: 91px;
	background: url('../../fs/images/m/event_finish.png') no-repeat center center;
}
.m_event_detail_title{
	font-size: 28px; color: #333333; 
}
.m_event_detail_date{
	width: 100%; height: 38px; line-height: 38px; color: #666666; font-size: 24px;
}
.m_event_detail_wrap2{
	width: 678px; height: 248px; margin: 0 auto;
}
.m_event_detail_wrap3{
	padding: 40px 10px 40px 10px;
}
.m_event_detail_wrap4{
	padding: 0 40px 30px 40px;	
}
.btn_m_event_list{
	width: 640px; height: 83px; cursor: pointer;
	background: url('../../fs/images/m/btn_event_list_nor.png') no-repeat center center;
}
.btn_m_event_list:ACTIVE{
	background: url('../../fs/images/m/btn_event_list_press.png') no-repeat center center;
}


.m_notice_row{
	width: 720px; border-bottom: 2px solid #dcdcdc; cursor: pointer;
}
.m_notice_title1{
	width: 524px; height: 112px; font-size: 26px; color: #333333;
}
.m_notice_title2{
	width: 78px; height: 112px; font-size: 22px; color: #029DCF;
}
.m_notice_title1>.D_table{
	width: 100%; height: 100%;
}
.m_notice_title2>.D_table{
	width: 100%; height: 100%;
}

.m_notice_row_contents{
	padding: 40px; background-color: #f2f2f2; border-bottom: 2px solid #dcdcdc;
	font-size: 26px; color: #333333; word-wrap: break-word;
}
.btn_m_board_more{
	width: 643px; height: 83px; cursor: pointer;
	background: url('../../fs/images/m/btn_morelist_nor.png') no-repeat center center;
}
.btn_m_board_more:ACTIVE{
	background: url('../../fs/images/m/btn_morelist_press.png') no-repeat center center;
}

#logo a:focus {
	outline:none;
}

.logo_wrap {
	width: 1006px;
	margin: auto;
}
