@CHARSET "UTF-8";

/* The container */
.ck_container {
    display: table;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter;
}

/* Hide the browser's default checkbox */
.ck_container input {
	display: none;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.ck_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ck_container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.ck_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.ck_container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn_yellow {
	border-color: #ff9800;
	border-radius: 5px;
	color: orange;
	background-color: #fff;
}

.btn_yellow:hover {
	background-color: #ff9800;
	color: #fff;
}

.btn_yellow:active, .btn_yellow:focus {
	outline: none;
}



.WBLOCK40 {
	float: left;
	width: 40px;
	height: 100%;
}

.WBLOCK45 {
	float: left;
	width: 45px;
	height: 100%;
}

.WBLOCK60 {
	float: left;
	width: 60px;
	height: 100%;
}

hr.style14 {
	margin: 5px;
	border: 0;
	height: 1px; 
	background-image: linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.article_wrap {
	width: 1026px;	
	margin: auto;
}


.category_detail:before, .category_detail:after {
	content: "";
	display: table;
	clear: both;
}

.category_detail {
	height: 300px;
	border: 1px solid #ababab;
}

.category_major {
	padding: 12px 16px;
}

.category_major h5, .category_small h5 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.category_major {
	float: left;
	overflow-y: scroll;
	width: 220px;
	height: 100%;
}

.category_small {
	margin-left: 220px;
	overflow-y: auto;
	height: 100%;
}

.category_major > a {
	display: table;
	margin-bottom: 7px;
}

.category_major > a:link,
.category_major > a:hover,
.category_major > a:visited,
.category_major > a:active {
	color: black;
}

.category_major .major {
	font-size: 15px;
}

.category_major .middle {
	font-size: 14px;
	text-indent: 10px;
}

.category_major .major:not(first-child) {
	margin-top: 20px;
}

.category_one, .category_two, .category_three, .category_four {
	float: left;
	padding: 12px 16px;
	width: 25%;
}

.category_small > div:not(:first-child) {
	padding-top: 59px;
}

.category_small > div:not(:last-child) {
	border-right: 1px solid #ababab;
	height: 100%;
}

.product_list {
	padding: 14px;
	border: 1px solid #ababab;
	border-radius: 4px;
}

.article_wrap * {
	box-sizing: border-box;
}

.product_list_content:after {
	content: "";
	display: table;
	clear: both;
}

.product_list_content * {
}

.product_list_content {
	width: 100%;
	height: 230px;
	padding: 20px;
}

.product_img {
	float: left;
	width: 20%;
	height: 100%;
	border: 1px solid #ababab;
	border-radius: 4px;
}

.product_img img {
	width: 100%;
	height: 100%;
}

.product_info {
	float: left;
	position: relative;
	margin-left: 20px;
	width: 60%;
	height: 100%;
}

.product_info * {
	overflow: hidden;
}

.product_info .title {
	display: block;
	height: 34px;
	margin: 0;
	font-size: 15px;
	font-weight: lighter
}

.product_info .additional_info {
	position: absolute;
	bottom: 20px;
	font-weight: lighter
}

.product_info .additional_info span {
	display: block;
	margin-bottom: 12px;
	padding: 0px 8px;
}

.product_addition {
	float: right;
	width: 13%;
	height: 100%;
	padding: 
}

.product_addition .price {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}

.product_addition .additional_info .satisfaction,
.product_addition .additional_info .buy,
.product_addition .additional_info .review {
	display: block;
	margin-left: 15px;
}

.product_addition .add_to_cart {
	display: inline-block;
	margin-top: 20px;
	margin-left: 15px;
	font: sans-serif;
	font-weight: bold;
	text-align: center;
}

.product_addition .add_to_cart:after {
	content: "Add to Cart";
}

.product_list_content .product_info, 
.product_list_content .product_addition,
.product_list_content .product_cart {
	padding: 20px 0 12px 0;	
}

/** CSS Cache Buster */
define( 'CHILD_THEME_VERSION', filemtime( get_stylesheet_directory() . '/style.css' ) );